{% extends 'base.html' %}
{% load static %}
{% block title %}About{% endblock %}


{% block content %}
<div style="float:left;padding:20px;margin:20px">
    <img style="width:75vh;height:75vh" src="{% static '/images/building.jpg' %}" >
</div>
<div style="margin-left:100vh;margin-top:20px;padding:20px;font-family: Times New Roman;font-size:20px">
    <p>The vision ‘affordable, accessible and quality healthcare for all’, a dream of visionary, Dr.Sooraj Kiran was made a reality in 2007 with the commencement of SK International Hospital. The novel initiative then marked a revolution in the healthcare segment in Kerala, thus symbolizing an answer for the growing healthcare demands of the state. 

        With only 52 beds when started, the hospital now boasts world‐class amenities, which includes:
            <ul>
                <li>600 beds.</li>
                <li>Over 40 Medical and Surgical departments.</li>
                <li>Exceptional paramedical support system.</li>
                <li>16 world-class operation theatres.</li>
                <li>11 fully equipped ultramodern ICUs.</li>
                <li>24‐hours accident and trauma care unit.</li>
                
            </ul>
            <br>
    <p >
        Adhering to strict and ethical medical practices, the hospital team - which expands to 300 doctors and over 2000 nursing, paramedical and administrative staff – relentlessly strive to keep up our ideology, " more than care ".
    </p>
</div>



{% endblock %}